<style type="text/css">
	.top {
		width: 100%;
		margin-bottom: 10px;
	}
	.left {
		width: 30%;
		display: inline-block;
		float: left;
		padding: 5px;
		margin-top: 5px;
	}
	.left h3, h4 {
		margin: 0px;
	}

	.right {
		width: 67.5%;
		display: inline-block;;
		float: left;
		padding: 5px;
		margin-left: 2.5%;
	}
	.right h3 {
		margin: 0px;
		margin-bottom: 20px;
	}
	
	form {
		width: 100%;
		margin-left: 0%;
	}
	
	.form-group.text.optional.review_comment {
	    float: left;
	    width: 85%;
	}
	
	.form-group.integer.optional.review_rating {
	    width: 10%;
	    display: inline-block;
	    float: left;
	    margin-right: 5%;
	}
	
	

	form .btn {
	    margin-bottom: 50px;
	}
	
	@media screen and (max-width: 800px) {
		.left {
			width: 100%;
			display: block;
			float: left;
			padding: 5px;
			margin-top: 5px;
		}
		.middle {
			width: 100%;
			margin-left: 0%;
			display: block;
			float: left;
			padding: 5px;
			text-align: left;
		}
		.right {
			width: 100%;
			display: block;
			float: left;
			padding: 5px;
			margin-left: 0%;
			margin-top: 10px;
		}
	}
</style>

<div class="left">
	<img src="<%= @book.book_img %>"/>
</div>

<div class="right">
	<form>
		<h1>Add A Review</h1>
		<h2><small>Book: </small><%= @book.title %> <br/><small>Author: </small><%= @book.author %></h2>
	</form>
	<%= render 'form' %>
</div>
